/* ---------- General Styling ---------- */

:root {
    --background-color: #ecf0f1;
    --background-light-color: #fff;
    --text-color: #1a2a3a;
    --text-light-color: #4a5a6a;
    --navbar-background-color: #2c3e50;
    --nav-button-color: #3498db;
    --nav-button-active-color: #2980b9;
    --link-color: #426a73;
    --code-border-color: #9b59b6;
    --main-icon-color: #2c3e50;

}

body {
    font-family: 'inter', sans-serif;
    font-style: normal;
    font-size: 1.8rem !important;
    color: var(--text-color);
    background-color: var(--background-color);
}

a {
    color: var(--link-color);
    text-decoration: underline;
}

.bold {
    font-weight: bold;
}

.text-center {
    text-align: center;
}

.text-light {
    color: var(--text-light-color);
}

/* ---------- Navbar style ---------- */
.navigation {
    background: var(--navbar-background-color);
    height: 5.2rem;
    line-height: 5.2rem;
    width: 100%;
}

.navigation * {
    color: var(--background-color);
    margin-bottom: 0;
}

.navigation a {
    /* text-decoration: none; */
    /* color: var(--text-color); */
}

.navigation .container {
    padding-bottom: 0;
    padding-top: 0;
}

.navigation .logo {
    width: 30px;
    height: 5.2rem;
    position: relative;
    background-size: 28px;
    background-image: url(/images/logo256.webp);
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 1.5rem;
}

.navigation .name {
    line-height: 5.2rem;
    text-decoration: none;
    display: inline-block;
    position: relative;
}

.navigation .navigation-list {
    list-style: none;
    margin-right: 5rem;
}

.navigation .navigation-item {
    margin-left: 2.5rem;
}

.nav-button {
    background-color: var(--nav-button-color);
    border-color: var(--nav-button-color);
    padding-left: 1.1rem;
    padding-right: 1.1rem;
}

.nav-button:hover {
    background-color: var(--nav-button-active-color);
}

.nav-button-enabled {
    border-color: var(--nav-button-active-color);
    background-color: var(--nav-button-active-color);
}


/* ---------- Body Style ---------- */
.main {
    margin-top: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: var(--background-light-color);
    border-radius: 10px;
    box-shadow: 0 15px 35px rgba(0, 0, 0, .1);
}

.main .icon {
    color: var(--main-icon-color);
}

.main .row {
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.main h3 {
    border-bottom: thin dotted #535353;
    width: fit-content;
}

pre {
    border-left: 0.3rem solid var(--code-border-color);
}

pre > code {
    background: inherit;
}

/* --------- Blog/Post Style ----------- */

.blog {
    margin-top: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: var(--background-light-color);
    border-radius: 10px;
    max-width: 66rem;
    box-shadow: 0 15px 35px rgba(0, 0, 0, .1);
}

article a {
    text-decoration: none;
    color: var(--text-color);
}

article p {
    margin-bottom: 0px;
}

article h4 {
    margin-bottom: 0px;
}

.article-date {
    font-size: 1.4rem;
    color: var(--text-light-color);
}

.post-title {
    margin-bottom: 0px;
}

/* Post */
.post {
    font-size: 18px;
    margin-top: 2rem;
}

.post h1,h2,h3,h4,h5,h6 {
    font-weight: bold;
}

/* ---------- Footer Style ---------- */

footer {
    padding-bottom: 3rem;
}

footer .page-source {
    text-align: right;
}

