/* ---------- General Styling ---------- */

:root {
    --background-color: #f0f0f0;
    --background-light-color: #fff;
    --text-color: #121212;
    --text-light-color: #4a4737;
    --navbar-background-color: #30475e;
    --navbar-separator-color: #d1d1d1;
    --link-color: #426a73;
    --code-border-color: #8e68b2;
    --main-icon-color: #000;
    --nav-button-color: #f05454;
}

body {
    font-family: 'inter', sans-serif;
    font-style: normal;
    color: var(--text-color);
    background-color: var(--background-color);
}

a {
    color: var(--link-color);
    text-decoration: underline;
}

.bold {
    font-weight: bold;
}

.text-center {
    text-align: center;
}

.text-light {
    color: var(--text-light-color);
}

/* ---------- Navbar style ---------- */
.navigation {
    border-bottom: .1rem solid var(--navbar-separator-color);
    background: var(--navbar-background-color);
    height: 5.2rem;
    line-height: 5.2rem;
    width: 100%;
}

.navigation * {
    color: var(--background-color);
    margin-bottom: 0;
}

.navigation a {
    /* text-decoration: none; */
    /* color: var(--text-color); */
}

.navigation .container {
    padding-bottom: 0;
    padding-top: 0;
}

.navigation .logo {
    width: 30px;
    height: 5.2rem;
    position: relative;
    background-size: 28px;
    background-image: url(/images/logo256.webp);
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 1.5rem;
}

.navigation .name {
    line-height: 5.2rem;
    text-decoration: none;
    display: inline-block;
    position: relative;
}

.navigation .navigation-list {
    list-style: none;
    margin-right: 5rem;
}

.navigation .navigation-item {
    margin-left: 2.5rem;
}

.nav-button {
    background-color: var(--nav-button-color);
    border-color: var(--nav-button-color);
    padding-left: 1.1rem;
    padding-right: 1.1rem;
}

/* ---------- Body Style ---------- */
.main {
    margin-top: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: var(--background-light-color);
    border-radius: 10px;
}

.main .icon {
    color: var(--main-icon-color);
}

.main .row {
    margin-bottom: 1rem;
    margin-top: 1rem;
}

pre {
    border-left: 0.3rem solid var(--code-border-color);
}

pre > code {
    background: inherit;
}

/* ---------- Footer Style ---------- */

footer {
    padding-bottom: 3rem;
}

footer .page-source {
    text-align: right;
}

/* Post */
.post {
    font-size: 18px;
}
