body {
    font-family: 'Open Sans';
    color: #332e38;
}

header {
    margin-top: 10%;
    margin-bottom: 5%;
}

a {
    color: #0077AA;
    text-decoration: underline;
}

.navigation .logo {
    width: 30px;
    height: 5.2rem;
    position: relative;
    float: left;
    background-size: 30px;
    background-image: url(/public/images/logo256.webp);
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 1.5rem;
}

.row {
    margin-bottom: 2%;
}

.icon {
    color: #000;
}

.small {
    font-size: 1em;
}

.bold {
    font-weight: bold;
}

#footer-font {
    color: #777;
}

.navigation {
    border-bottom: .1rem solid #d1d1d1;
    background: #f4f5f6;
    height: 5.2rem;
    width: 100%;
}

.nav-head {
}

.navigation a {
    text-decoration: none;
}

.navigation .container {
    padding-bottom: 0;
    padding-top: 0;
}

.navigation .name {
    line-height: 5.2rem;
    text-decoration: none;
    display: inline-block;
    position: relative;
}

.navigation h4 {
    margin-bottom: 0;
}

.name {
    color: #332e38;
}

.main {
    padding-top: 3rem;
}
