/* ---------- General Styling ---------- */
body {
    font-family: 'Open Sans';
    color: #454545;
}

a {
    color: #0077AA;
    text-decoration: underline;
}

.bold {
    font-weight: bold;
}


/* ---------- Navbar style ---------- */
.navigation {
    border-bottom: .1rem solid #d1d1d1;
    background: #f4f5f6;
    height: 5.2rem;
    line-height: 5.2rem;
    width: 100%;
}

.navigation * {
    margin-bottom: 0;
}

.navigation a {
    text-decoration: none;
    color: #332e38;
}

.navigation .container {
    padding-bottom: 0;
    padding-top: 0;
}

.navigation .logo {
    width: 30px;
    height: 5.2rem;
    position: relative;
    background-size: 28px;
    background-image: url(/public/images/logo256.webp);
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 1.5rem;
}

.navigation .name {
    line-height: 5.2rem;
    text-decoration: none;
    display: inline-block;
    position: relative;
}

.navigation .navigation-list {
    list-style: none;
    margin-right: 5rem;
}

.navigation .navigation-item {
    margin-left: 2.5rem;
}

/* ---------- Body Style ---------- */
.main {
    padding-top: 3rem;
}

.main .icon {
    color: #000;
}

.main .row {
    margin-bottom: 1rem;
    margin-top: 1rem;
}

/* ---------- Footer Style ---------- */
footer * {
    color: #777;
}

footer .page-source {
    text-align: right;
}
