<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Error 404</title>
        <meta name="404" content="">        

        <link rel="stylesheet" type="text/css" href="/css/font.css">
        <link rel="stylesheet" href="/css/normalize.css">
        <link rel="stylesheet" href="/css/milligram.min.css">
        <link rel="stylesheet" href="/css/404.css">

        <!-- Plausible analytics script -->
        <script async defer data-api="https://dimspith.com/api/event"
                data-domain="dimspith.com"
                src="https://dimspith.com/js/pls.js"></script>
    </head>
    <body>
        <div class="centered" id="error">
            <h2>Error 404</h2>
            <h1 class="bold">Page not found</h1>

            <div class="spacing">Sorry! this page does not exist.</div>
            <a class="button" href="https://dimspith.com">Back to home</a>
        </div>
    </body>
</html>
