{% extends "base.html" %}


{% block title %}
Blog @ dimspith.com
{% endblock title %}


{% block description %}
"Hi, I'm Dimitris, I mostly write about programming and other miscellaneous stuff."
{% endblock description %}

{% block nav_buttons %}
<a class="button nav-button nav-button-enabled" href="/blog">Blog</a>
<a class="button nav-button" href="/notes">Notes</a>
{% endblock nav_buttons %}

{% block content %}
<center>
    <h1 class="title">
        {{ section.title }}
    </h1>
</center>
<ul>
    {% for page in section.pages %}
    <li><a href="{{page.permalink | safe}}">{{ page.title }}</a>
    </li>
    {% endfor %}
</ul>
{% endblock content %}
